* {
    font-family: cursive;
    margin: 0; padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.top-box {
    box-sizing: border-box;
    height: 15%;
    /* background: lightcoral; */
    padding: 1rem;
}

.content-box {
    text-align: center;
    position: relative;
    height: fit-content;
}

.index-body {
    min-height: 100%;
    background-size: cover;
    background-image: url(../media/images/desert.jpg);
}

.main-box {/* 
    background-color: #fff; */
    height: 70%;
    position: relative;
}

.btn-box {/* 
    background-color: lightslategray; */
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}

.no-link {
    text-decoration: none;
    color: black;
}

.btn-style {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: .4rem .8rem;
}

.btn-settings, .btn-back {
    background-image: url(../media/images/settings.png);
    background-size: cover;
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.5rem;
    margin: auto;
    border-radius: 1rem;
}

.login-form {
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: cornflowerblue;
}

.login-box {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.form__item {
    margin: .6rem;
}

.login-body {
    background-color: darkkhaki;
    position: relative;
}

.transparent-bg {
    background-color: transparent;
}

.btn-back {
    position: relative;
    background-image: url(../media/images/back.png);
    height: 2rem;
    width: 2rem;
    top: 1.5rem;
}

.table-box {
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 70%;
    left: 0; right: 0;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: rgb(199, 193, 114);
    outline: 3px solid rgb(131, 127, 73);
}

.table__item {
    display: inline-block;
    height: 1.5rem;
}

.id, .nombre, .precio {
    background-color: lightgreen;
    outline: 1px solid black;
    float: left;
}

.table__row {
    position: relative;
    width: 100%;
    float: left;
    
}

.precio {
    position: absolute;
    right: 0;
    text-align: right;
    width: 30%;
}

.nombre, .id {
    text-align: center;
    width: 60%;
}

.id {
    width: 10%;
}

.table__item:empty {
    background-color: rgb(255, 146, 146);
}

.manage-form {
    border: 1px solid black;
}

.select {
    overflow-y: scroll;
}

.hundred {
    display: inline-block;
    width: 90%;
}


























































.footer {
    background-color: royalblue;
    position: absolute;
    height: fit-content;
    width: 100%;
    bottom: 0;
    text-indent: 3rem;
}

.msg {
    color: red;
    line-height: 4rem;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}